<div class="main replies-edit">
  <div class="container">
    <div class="replies-edit-item">
      <%= form_tag("/replies/#{params[:id]}/update", {multipart: true}) do %>
      <div class="form-body">
        <% @reply.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
        <% end %>

        <textarea name="comment"><%= @reply.comment %></textarea>
        <input type="submit" value="保存">
      </div>
      <% end %>
    </div>
  </div>
</div>
