version: '3'
services:
    db:
        image: mysql:5.7
        environment:
            MYSQL_ROOT_PASSWORD: Ss3Qq1Ll4
            MYSQL_DATABASE: AnimalGraphyDB
        ports:
            - "3306:3306"
        volumes:
            - mysql-data:/var/lib/mysql

    web:
        build: .
        command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 80 -b '0.0.0.0'"
        volumes:
            - .:/AnimalGraphy
        ports:
            - "80:80"
        depends_on:
            - db

volumes:
    mysql-data:
        driver: local
