version: "3"
services:
    db:
        image: mysql:5.7
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            TZ: Asia/Tokyo
        ports:
            - "3306:3306"
        volumes:
            - mysql-data:/var/lib/mysql
    redis:
        image: "redis:6.0"
        environment:
            TZ: Asia/Tokyo
        ports:
            - "6379:6379"
    web:
        build:
            context: .
        # command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
        command: bash -c "rm -f tmp/pids/server.pid && bundle exec puma -C config/puma.rb"
        environment:
            TZ: Asia/Tokyo
        ports:
            - "3000:3000"
        volumes:
            - .:/AnimalGraphy
            - public-data:/AnimalGraphy/public
            - log-data:/AnimalGraphy/log
            - tmp-data:/AnimalGraphy/tmp
        depends_on:
            - db
            - redis
        stdin_open: true
        tty: true
    worker:
        build:
            context: .
        command: bash -c "bundle exec sidekiq -C config/sidekiq.yml"
        environment:
            TZ: Asia/Tokyo
        volumes:
            - .:/AnimalGraphy
            - public-data:/AnimalGraphy/public
        depends_on:
            - db
            - redis
            - web
    nginx:
        build:
            context: ./containers/nginx
        environment:
            TZ: Asia/Tokyo
        ports:
            - 80:80
        volumes:
            - public-data:/AnimalGraphy/public
            - tmp-data:/AnimalGraphy/tmp
        depends_on:
            - web
            - worker
volumes:
    mysql-data:
    public-data:
    log-data:
    tmp-data:
