<div class="main">
  <div class="top">
    <div class="container">
      <h1>AnimalGraphyへようこそ！</h1>
      <p>AnimalGraphyは、あなたの好みにあった動物の写真を自由に投稿、閲覧できるサービスです。<br>ディープラーニングによって、投稿された写真から動物が検出され、自動的にタグがつきます。</p>
      <a href="https://github.com/GuiltyWorks/AnimalGraphy">
        <i class="fab fa-github"> : GitHub Repository</i>
      </a>
    </div>
  </div>
</div>
