<div class="main zoo-index">
  <div class="container">
    <% @zoos.each do |zoo| %>
      <div class="zoo-index-item bg-white shadow p-3 mb-3">
        <div class="zoo-body text-center w-100">
          <a href="<%= zoo[:uri] %>" class="w-100" target="_blank" rel="noopener noreferrer">
            <img src="<%= zoo[:image] == "" ? "zoo.jpg" : zoo[:image] %>" class="shadow-sm rounded w-100">
          </a>
          <p><%= zoo[:name] %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
