<div class="main zoo-index">
  <div class="container">
    <div class="zoo-index-items">
      <% @zoos.each do |zoo| %>
      <div class="zoo-index-item">
        <div class="zoo-body">
          <a href="<%= zoo[:uri] %>" target="_blank" rel="noopener noreferrer">
            <% image_uri = zoo[:image] == "" ? "zoo.jpg" : zoo[:image] %>
            <img src="<%= image_uri %>">
            <p><%= zoo[:name] %></p>
          </a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
