<style>
  div.dialog {
    color: #2E2F30;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
    width: 80%;
    max-width: 750px;
    margin: 5em auto;
  }

  div.dialog > div {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    border-top: red solid 10px;
    background-color: white;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

  div.dialog img {
    width: 100%;
  }

  div.dialog h1 {
    font-size: 22px;
    color: red;
    line-height: 1.5em;
    margin: 1em;
  }

  div.dialog p {
    margin: 1em;
  }

  div.dialog > p {
    margin: 0 0 1em;
    padding: 1em;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #999;
    border-top-color: #DADADA;
    color: #666;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }
</style>

<!-- This file lives in app/views/errors/unprocessable_entity.html.erb -->
<div class="dialog">
  <div>
    <img src="https://http.cat/422.jpg">
    <h1>リクエストが却下されました。 (422)</h1>
    <p>アクセス権限に関する問題が発生した可能性があります。</p>
  </div>
  <p>あなたがアプリケーションの所有者である場合は、ログから詳細を確認してください。</p>
</div>
