<div class="main posts-new">
  <div class="container">
    <div class="posts-new-item">
      <%= form_tag("/posts/create", {multipart: true}) do %>
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
        <% end %>

        <p>画像</p>
        <input name="image" type="file">
        <p>コメント</p>
        <textarea name="comment"><%= @post.comment %></textarea>
        <input type="submit" value="投稿">
      </div>
      <% end %>
    </div>
  </div>
</div>
