// --------All--------
* {
    box-sizing: border-box;
}

html {
    font: 100%/1.5 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #808080;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 18px;
    margin: 0;
}

input {
    background-color: transparent;
    outline-width: 0;
}

form input[type="submit"] {
    border: none;
    cursor: pointer;
}

body {
    color: #202020;
    background-color: #ffe5f5;
    margin: 0;
    min-height: 1vh;
}

.main {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #ffe5f5;
    padding: 64px 0 0 0;
}

.container {
    max-width: 650px;
    margin: 20px auto;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
}

// --------Header--------
header {
    background-color: #fccbe8d0;
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.header-logo {
    float: left;
    padding-left: 20px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    line-height: 64px;
}

.header-logo a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    transition-duration: 0.25s;
}

.header-logo a:hover {
    opacity: 0.5;
    transition-duration: 0.25s;
}

.header-menus {
    float: right;
    padding-right: 16px;
}

.header-menus li {
    float: left;
    line-height: 64px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-left: 16px;
}

.header-menus a {
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition-duration: 0.25s;
}

.header-menus a:hover {
    opacity: 0.5;
    transition-duration: 0.25s;
}

.header-menus .fa {
    padding-right: 5px;
}

.header-menus input[type="submit"] {
    padding: 0 20px;
    float: left;
    line-height: 64px;
    color: white;
    margin: 0;
    font-size: 20px;
}

// --------top--------
.top {
    padding: 100px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    color: white;
    background-color: #ffe5f5;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
}

.top .container {
    max-width: 100%;
    padding: 100px 0;
    margin: 0 5%;
    background-color: #fccbe8;
    text-align: center;
}

.top h1 {
    color: white;
    font-size: 72px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
}

.top p {
    color: white;
    font-size: 26px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 200px;
}

.top i {
    font-size: 26px;
    transition-duration: 0.25s;
}

.top i:hover {
    color: white;
    opacity: 0.5;
    transition-duration: 0.25s;
}

// --------about--------

.about-main {
    padding: 180px 8% 0;
    color: white;
}

.about-main h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.4;
}

.about-main p {
    font-weight: 200;
    font-size: 20px;
}

.about-img {
    width: 84%;
}

// ----Form----
.form {
    max-width: 650px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 6px #d1d1d1;
}

.form-heading {
    font-weight: normal;
    margin: 60px 0 20px;
    font-size: 48px;
    color: #808080;
}

.form-body {
    font-size: 0;
    padding: 20px;
}

.form-error {
    color: red;
}

.form input {
    width: 100%;
    border: 1px solid #dfdfdf;
    padding: 10px;
    color: #202020;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 2px;
}

.form textarea {
    width: 100%;
    min-height: 110px;
    font-size: 16px;
    letter-spacing: 2px;
}

.form input[type="submit"] {
    color: white;
    background-color: #0080ff;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    border-radius: 10px;
    margin: 0;
    float: right;
}

.form-body:after {
    content: '';
    display: table;
    clear: both;
}

// --------Flash--------
.flash {
    padding: 10px 0;
    color: white;
    background: #10c000;
    text-align: center;
    position: absolute;
    top: 64px;
    z-index: 10;
    width: 100%;
    border-radius: 0 0 2px 2px;
    font-size: 18px;
    font-weight: bold;
}
