// --------All--------
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  font-size: 20px;
  text-decoration: none;
  transition-duration: 0.25s;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 22px;
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

form {
  margin-bottom: 1rem;
}

body {
  color: #202020;
  background-color: #ffe5f5;
  min-height: 1vh;
  margin: 0;
}

.main {
  background-color: #ffe5f5;
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding: 64px 0 0 0;
}

.container {
  margin: 20px auto;
}

// --------Header--------
header {
  background-color: #fccbe8d0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 10;
}

.header-logo {
  color: white;
  font-size: 36px;
  font-weight: bold;
  line-height: 64px;
  padding-left: 20px;
  float: left;
}

.header-logo a {
  color: white;
  font-size: 30px;
  font-weight: bold;
  transition-duration: 0.25s;
}

.header-logo a:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

.header-menus {
  padding-right: 16px;
  float: right;
}

.header-menus li {
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 64px;
  padding-left: 16px;
  float: left;
}

.header-menus a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.25s;
  float: left;
}

.header-menus a:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

.header-menus .fa {
  padding-right: 5px;
}

// ----Form----
.form {
  background-color: white;
  box-shadow: 0 2px 6px #d1d1d1;
  max-width: 650px;
  margin: auto;
}

.form-body {
  background-color: white;
  font-size: 0;
  padding: 20px;
}

.form-error-item {
  font-size: 18px;
  color: red;
}

.form-body input {
  color: #202020;
  letter-spacing: 2px;
  font-size: 16px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
}

.form-body textarea {
  font-size: 16px;
  letter-spacing: 2px;
  width: 100%;
  min-height: 110px;
}

.form-body input[type="checkbox"] {
  width: auto;
}

.form-body input[type="submit"] {
  color: white;
  background-color: #0080ff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  float: right;
  margin: 0;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

// --------Flash--------
.flash {
  color: white;
  background: #7e7e7e;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 0 0 2px 2px;
  position: absolute;
  top: 64px;
  width: 100%;
  z-index: 10;
  padding: 10px 0;
}
