// --------/news/:key--------
.news-index .container {
    width: 100%;
    max-width: 100%;
}

.news-tabs {
    background-color: white;
    box-shadow: 0 2px 6px #d1d1d1;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 10px;
}

.news-tabs li {
    float: left;
}

.news-tabs li.active {
    border-bottom: 2px solid #10c000;
}

.news-tabs li.active a {
    color: #57575f;
}

.news-tabs a {
    color: #57575f;
    display: inline-block;
    padding: 16px 30px;
}

.news-index .news-index-items {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 2100px) {
    .news-index .news-index-items {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 1600px) {
    .news-index .news-index-items {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .news-index .news-index-items {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 100%;
    }
}

.news-index-item {
    background-color: white;
    box-shadow: 0 2px 6px #d1d1d1;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 150px;
    padding: 20px;
}

// news-body
.news-body {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.news-body a {
    float: left;
}

.news-body img {
    box-shadow: 0 2px 6px #d1d1d1;
    border-radius: 25%;
    transition-duration: 0.25s;
    float: left;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.news-body img:hover {
    opacity: 0.5;
    transition-duration: 0.25s;
}

.news-body p {
    color: black;
    font-size: 22px;
    transition-duration: 0.25s;
    margin-left: 110px;
}

.news-body p:hover {
    opacity: 0.5;
    transition-duration: 0.25s;
}
