.news-index-item img {
  box-shadow: 0 2px 6px #d1d1d1;
  border-radius: 10%;
  width: 100px;
  height: 100px;
}

.news-index-item p {
  align-items: center;
  display: flex;
  height: 100px;
  padding-left: 1rem;
}

.news-index-item p:hover {
  opacity: 0.5;
}
