.post-item {
  background-color: white;
  box-shadow: 0 2px 6px #d1d1d1;
  padding: 1rem;
  margin-bottom: 1rem;
}

.post-body img {
  width: 100%;
}

.post-body p {
  color: black;
}

.fa-heart {
  font-size: 26px;
  float: left;
  padding-right: 10px;
}

.like-btn,
.like-btn-no-hover {
  color: gray;
}

.unlike-btn {
  color: red;
}
