// --------All--------
// post-index-item
.posts-index-item {
  background-color: white;
  box-shadow: 0 2px 6px #d1d1d1;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  width: 500px;
  padding: 20px;
  margin-bottom: 10px;
}

// post-head
.post-head {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.post-head img {
  box-shadow: 0 2px 6px #d1d1d1;
  border-radius: 25%;
  transition-duration: 0.25s;
  float: left;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.post-head img:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

.post-head p {
  color: black;
  font-size: 22px;
  transition-duration: 0.25s;
  float: left;
  height: 50px;
  padding: 10px 0 10px 10px;
}

.post-head p:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

// post-body
.post-body * {
  color: black;
  text-align: left;
  word-break: break-all;
}

.post-body {
  font-size: 0;
  text-align: left;
  width: 100%;
}

.post-body a {
  font-size: 0;
}

.post-body img {
  width: 100%;
  margin-bottom: 5px;
  transition-duration: 0.25s;
}

.post-body img:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

.post-body p {
  font-size: 18px;
  transition-duration: 0.25s;
  width: 100%;
  margin-bottom: 5px;
}

.post-body p:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

.post-body .clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.post-body .tag a {
  color: #0080ff;
  font-size: 18px;
  transition-duration: 0.25s;
  float: left;
  margin: 0 15px 0 0;
}

.post-body .tag a:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

// --------/posts/index--------
.posts-index .container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 2100px) {
  .posts-index .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .posts-index .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .posts-index .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100%;
  }
}

.posts-index .posts-index-item {
  margin-bottom: 0px;
}

.posts-index-item .post-body img {
  object-fit: cover;
  width: 460px;
  height: 460px;
}

// --------/posts/show--------
.posts-show .container {
  clear: both;
  max-width: 750px;
  padding: 0;
  margin: 20px auto;
}

.posts-show-item {
  background-color: white;
  box-shadow: 0 2px 6px #d1d1d1;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 10px;
}

// post-body
.posts-show .post-body img:hover {
  opacity: 1;
  transition-duration: 0;
}

.posts-show .post-body p:hover {
  opacity: 1;
  transition-duration: 0;
}

.posts-show-item .post-body .post-time {
  color: #808080;
  font-size: 20px;
}

.posts-show-item .post-body .like-btn-no-hover {
  color: #808080;
  opacity: 1;
  line-height: 1.5;
  float: left;
  padding-right: 5px;
}

.posts-show-item .post-body .like-btn {
  color: #808080;
  opacity: 1;
  line-height: 1.5;
  transition-duration: 0.25s;
  float: left;
  padding-right: 5px;
}

.posts-show-item .post-body .like-btn-unlike {
  color: #ff2525;
  opacity: 1;
  line-height: 1.5;
  transition-duration: 0.25s;
  float: left;
  padding-right: 5px;
}

.posts-show-item .post-body .likes-count {
  color: #808080;
  font-size: 20px;
  margin: 0;
}

.posts-show-item .post-body .fa {
  font-size: 20px;
}

.posts-show-item .post-body .post-menus {
  font-size: 20px;
  float: right;
}

.posts-show-item .post-body .post-menus a,
.posts-show-item .post-body .post-menus input {
  color: #808080;
  font-size: 20px;
  transition-duration: 0.25s;
  margin-left: 20px;
}

.posts-show-item .post-body .like-btn:hover,
.posts-show-item .post-body .like-btn-unlike:hover,
.posts-show-item .post-body .post-menus a:hover,
.posts-show-item .post-body .post-menus input:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

.posts-show form {
  display: inline;
}

// reply-form
.posts-show .container .posts-show-item .form-body {
  padding: 0;
  margin: 0;
}

.posts-show .container .posts-show-item textarea {
  font-size: 20px;
  border: 1px solid #dfdfdf;
  resize: none;
  min-height: 160px;
  padding: 0;
  margin-bottom: 10px;
}

.posts-show .container .posts-show-item textarea::-webkit-input-placeholder {
  font-size: 22px;
  opacity: 0.5;
}

// reply-head
.posts-show-item .reply-head {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.posts-show-item .reply-head img {
  box-shadow: 0 2px 6px #d1d1d1;
  border-radius: 25%;
  transition-duration: 0.25s;
  float: left;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.posts-show-item .reply-head img:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

.posts-show-item .reply-head p {
  color: black;
  font-size: 22px;
  transition-duration: 0.25s;
  float: left;
  height: 50px;
  padding: 10px 0 10px 10px;
}

.posts-show-item .reply-head p:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

// reply-body
.posts-show-item .reply-body {
  font-size: 0;
  text-align: left;
  width: 100%;
}

.posts-show-item .reply-body .reply-menus {
  font-size: 18px;
  float: right;
}

.posts-show-item .reply-body .reply-menus a,
.posts-show-item .reply-body .reply-menus input {
  color: #808080;
  font-size: 18px;
  transition-duration: 0.25s;
  margin-left: 20px;
}

.posts-show-item .reply-body .reply-menus a:hover,
.posts-show-item .reply-body .reply-menus input:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

// --------/posts/new--------
.posts-new .container {
  max-width: 650px;
}

.posts-new .container .posts-new-item {
  background-color: white;
  box-shadow: 0 2px 6px #d1d1d1;
  max-width: 650px;
  margin: 0;
}

.posts-new .container .posts-new-item p {
  font-size: 20px;
}

.posts-new .container .posts-new-item input[type="file"] {
  margin-bottom: 10px;
}

.posts-new .container .posts-new-item textarea {
  font-size: 20px;
  border: 1px solid #dfdfdf;
  resize: none;
  min-height: 160px;
  padding: 10px;
  margin-bottom: 10px;
}

.posts-new .container .posts-new-item textarea::-webkit-input-placeholder {
  font-size: 22px;
  opacity: 0.5;
}

// --------/posts/edit--------
.posts-edit .container .posts-edit-item {
  background-color: white;
  box-shadow: 0 2px 6px #d1d1d1;
  max-width: 650px;
  margin: 0;
}

.posts-edit .container .posts-edit-item p {
  font-size: 20px;
}

.posts-edit .container .posts-edit-item input[type="file"] {
  margin-bottom: 10px;
}

.posts-edit .container .posts-edit-item textarea {
  font-size: 20px;
  border: 1px solid #dfdfdf;
  resize: none;
  min-height: 160px;
  padding: 0;
  margin-bottom: 10px;
}

.posts-edit .container .posts-edit-item textarea::-webkit-input-placeholder {
  font-size: 22px;
  opacity: 0.5;
}
