// --------/zoo--------
.zoo-index .container {
  width: 500px;
  padding: 0;
}

.zoo-index-item {
  background-color: white;
  box-shadow: 0 2px 6px #d1d1d1;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  width: 500px;
  height: 150px;
  padding: 20px;
  margin-bottom: 20px;
}

// zoo-body
.zoo-body {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.zoo-body a {
  float: left;
}

.zoo-body img {
  box-shadow: 0 2px 6px #d1d1d1;
  border-radius: 25%;
  transition-duration: 0.25s;
  float: left;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.zoo-body img:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}

.zoo-body p {
  color: black;
  font-size: 22px;
  transition-duration: 0.25s;
  margin-left: 110px;
}

.zoo-body p:hover {
  opacity: 0.5;
  transition-duration: 0.25s;
}
